body {
    background: black;
    margin: 0;
    font-family: sans-serif;
}
.container {
    background-image: url(./bilder/zmorph-multitool-3d-printer-UqCCSbAIaDU-unsplash.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container  .select  {
    color: white;
    background: black;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
.container  .select a:link {
     
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
.container  .select a:visited { 
    color: white;
    padding: 0 20px;
    text-decoration: none;
}