body {
    background-image: url(./bilder/frank-mckenna-eXHeq48Z-Q4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    color: black;
    font: 100px sans-serif;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 200px;
    text-transform: uppercase;
}
h2 {
    color: black;
    font: 50px sans-serif;
    font-weight: bold;
    margin-left: 200px;
    text-transform: uppercase;
}
p {
    text-transform: uppercase;
    color: white;
    font: 20px sans-serif;
    font-weight: bold;
    background-color: crimson; 
    margin-left: 75%;
    max-width: 100px;
    margin-top: 200px;
    padding: 20px;
    padding-left: 50px;
    border: 3px solid white;
    border-radius: 10px;
    transition-duration: 0.4s
}
p:hover {
    background-color: red;
    color:white;
}