body {
    background-image: url(./bilder/frank-mckenna-eXHeq48Z-Q4-unsplash.jpg);
    background-size: cover;
}
h1 {
    color: white;
    font: 100px sans-serif;
    font-weight: bold;
    margin-left: 100px;
}
h2 {
    color: white;
    font: 50px sans-serif;
    font-weight: bold;
    margin-left: 100px;
}
p {
    color: white;
    font: 20px sans-serif;
    font-weight: bold;
    background-color: crimson; 
    margin-left: 80%;
    margin-right: 100px;
    margin-top: 200px;
    padding: 20px;
    padding-left: 50px;
    border: 3px solid white;
    border-radius: 10px;
}