@import url('https://fonts.googleapis.com/css?family=Livvic|Oswald&display=swap');
body {
    background-image: url("./fleur-qrHBY0TQBFk-unsplash.jpg");
    background-size: contain;
    background-attachment: fixed;
}
h1 {
    color: white;
    font-size: 75px;
    font-family: 'Oswald', sans-serif;
}
h2 {
    color: white;
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}
p {
    color: white;
    font-size: 20px;
    font-family: 'Livvic', sans-serif;
}
a {
    color: white;    
}